<section>
        <div class="form">
     <div method="POST" action="product-create">
    <div class="form__content">
       <div class="form__field__grid">
      <div class="form__field">       
<h1>Успішне виконання дії</h1>
<p>{{info}}</p>
      </div>
      <div class="form__field">
<a href="/" class="form__button">Повернутись назад</a>
      </div>
      </div>
    </div>
  </div>
        </div>
  </section>


