<section>
        <div class="form">
     <form method="POST" action="/product-create">
    <div class="form__content">
       <div class="form__field__grid">
      <div class="form__field">       
<h1>Успішне виконання дії</h1>
<p>{{info}}</p>
      </div>
      <div class="form__field">
<button href="/product-list" class="form__button">Повернутись назад</button>
      </div>
      </div>
    </div>
  </form>
        </div>
  </section>


