
@use '../../lib/service.scss' as s;

@use '../../component/heading/style.scss' as heading;
@use '../../component/purchase-product/style.scss' as purchaseProduct;
@use '../../component/divider/style.scss' as divider;
@use '../../component/field/style.scss' as field;
@use '../../component/button/style.scss' as button;

.order-info {
 
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 16px #0001;
   
    font-size: 16px;
    max-width: 100%;
    
    
     
   
}
.flex {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
p { padding-bottom: 8px;}

    b {
      color: #343A40;
    }
 
 divider {
  margin: 15px;
 }
    a {
      
      text-align: right;
       text-decoration: none;
    }
    button {
      width: 100%;
    }
  


