<main>

     <form method="POST" action="/purchase-change?id={{purchase.id}}" class="form-card">

    {{>heading title="Зміна даних"}}
   <div>
    <p> ID:</p>
    <p>{{purchase.id}}</p>
   </div>

   
  <div class="one"> 
    {{>field label="І'мя" name="firstname" for="firstname" value=purchase.firstname}}

{{>field label="Прізвище" name="lastName" for="lastName" value=purchase.lastName}}
  
    {{>field label="Телефон" name="phone" for="phone" value=purchase.phone}}

    {{>field label="Пошта" name="email" for="email" value=purchase.email}}
    </div>

     
      <a href="/purchase-info?id={{id}}">
        {{> button text="Змінити дані"}}
      </a>
    </form>
  </div>
</main>